<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <span class="myaccount">
      <a href="/account/login" title="Login" >My Account</a>
      <!-- <a href="/account/logout" title="Logout" >Logout</a> -->
    </span>
</header>