<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div id="viewall">
    <a href="/inv/allinventory" title="View All Inventory"> <h2>View All Inventory</h2></a>
</div>
<div id="mainpart">
    <ul id="mainlist">
        <li class="mainlisttitle">DMC Delorean</li>
        <li class="mainlistgroup">3 Cup holders</li>
        <li class="mainlistgroup">Superman doors</li>
        <li class="mainlistgroup">Fuzzy dice!</li>
        <li class="mainbutton">Own Today</li>
    </ul>
</div>
<div class="upgradegallery">
    <figure class="gallery__item gallery__item--1">
        <img src="../images/upgrades/flux-cap.png" class="gallery__img" alt="Flux Capacitor">
        <a href="/" title="Go to Flux Capacitor">Flux Capacitor</a>
    </figure>
    <figure class="gallery__item gallery__item--2">
        <img src="../images/upgrades/flame.jpg" class="gallery__img" alt="Flame Decals">
        <a href="/" title="Go to Flame Decals">Flame Decals</a>
    </figure>
    <figure class="gallery__item gallery__item--3">
        <img src="../images/upgrades/bumper_sticker.jpg" class="gallery__img" alt="Bumper Sticker">
        <a href="/" title="Go to Bumper Stickers">Bumper Stickers</a>
    </figure>
    <figure class="gallery__item gallery__item--4">
        <img src="../images/upgrades/hub-cap.jpg" class="gallery__img" alt="Hub Cap">
        <a href="/" title="Go to Hub Caps">Hub Caps</a>
    </figure>
</div>
<div class="rightdiv">
    <h2>DMC Delorean Reviews</h2>
    <ul id="rightlist">
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I.m feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day: (4.5/5)</li>
        <li>"80's livin and love it!" (5/5)</li>
    </ul>
</div>